<h2>Gráficas</h2>
<div>
    <ngx-charts-line-chart
    [view]="view"
    [results]="single"
    [gradient]="gradient"
    [xAxis]="showXAxis"
    [yAxis]="showYAxis"
    [legend]="showLegend"
    [showXAxisLabel]="showXAxisLabel"
    [showYAxisLabel]="showYAxisLabel"
    [xAxisLabel]="xAxisLabel"
    [yAxisLabel]="yAxisLabel">
</ngx-charts-line-chart>
</div>
<div>
<ngx-charts-bar-vertical [view]="view" [results]="coches" [gradient]="gradient" [xAxis]="showXAxis"
[yAxis]="showYAxis" [showXAxisLabel]="showXAxisLabel" [showYAxisLabel]="showYAxisLabel" [xAxisLabel]="xAxisLabel"
[yAxisLabel]="yAxisLabel" ></ngx-charts-bar-vertical>
<br><br>
</div>